.mycontainer div {
    margin-bottom: 10px;
    margin-top: 10px;
}
.login_background{
    background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.dreamstime.com%2Fphotos-images%2Fbackground.html&psig=AOvVaw1A_wP92uWGq7NrgU82F_-m&ust=1586592246853000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNjG-fCy3egCFQAAAAAdAAAAABAD");
}

.login_fix_{
    background: "#fffdfd40";
    border: white;
    padding-top: 172px;
    font-style: italic;
    color: aliceblue;
    width: 500px;
    height: 500px;
}